// prettier-ignore
$FONTS_EN:
  "Arial",
  "Helvetica",
  "Open Sans",
  "Segoe UI",
  "Tahoma";
// prettier-ignore
$FONTS_SC:
  "Microsoft YaHei UI",
  "Microsoft YaHei",
  "微软雅黑",
  "NSimsun",
  "新宋体",
  "Simhei",
  "宋体",
  "Simsun",
  "黑体";
// prettier-ignore
$FONTS_TC:
  "Microsoft Jhenghei",
  "微軟正黑體";
// prettier-ignore
$FONTS_JP:
  "ヒラギノ角ゴ Pro W3",
  "Hiragino Kaku Gothic Pro",
  Osaka,
  メイリオ,
  Meiryo,
  "ＭＳ Ｐゴシック",
  "MS PGothic",
  "ＭＳ ゴシック" ,
  "MS Gothic";
// prettier-ignore
$FONTS_KR:
  "Malgun Gothic",
  "맑은 고딕";
// prettier-ignore
$FONTS_MONO:
  "Consolas";

$FONT_EN: "Roboto";
$FONT_SC: "Noto Sans CJK SC";
$FONT_TC: "Noto Sans CJK TC";
$FONT_JP: "Noto Sans CJK JP";
$FONT_KR: "Noto Sans CJK KR";
$FONT_MONO: "Cascadia Code";

// English
@each $FONT in $FONTS_EN {
  @font-face {
    font-family: $FONT;
    src: local($FONT_EN);
  }
}
// Simplified Chinese
@each $FONT in $FONTS_SC {
  @font-face {
    font-family: $FONT;
    src: local($FONT_SC);
  }
}
// Traditional Chinese
@each $FONT in $FONTS_TC {
  @font-face {
    font-family: $FONT;
    src: local($FONT_TC);
  }
}
// Jpanese
@each $FONT in $FONTS_JP {
  @font-face {
    font-family: $FONT;
    src: local($FONT_JP);
  }
}
// Korean
@each $FONT in $FONTS_KR {
  @font-face {
    font-family: $FONT;
    src: local($FONT_KR);
  }
}
// Monospace
@each $FONT in $FONTS_MONO {
  @font-face {
    font-family: $FONT;
    src: local($FONT_MONO);
  }
}
