// prettier-ignore
$FONTS_SANS_EN:
  "Arial",
  "Helvetica",
  "Lucida Grande",
  "Lucida Sans Unicode",
  "Open Sans",
  "Segoe UI",
  "Tahoma",
  "Verdana",
  ;
// prettier-ignore
$FONTS_SANS_SC:
  "Microsoft YaHei UI",
  "Microsoft YaHei",
  "微软雅黑",
  "NSimsun",
  "新宋体",
  "Simsun",
  "宋体",
  "Simhei",
  "黑体",
;
// prettier-ignore
$FONTS_SANS_TC:
  "Microsoft Jhenghei",
  "微軟正黑體",
;
// prettier-ignore
$FONTS_SANS_JP:
  "ヒラギノ角ゴ Pro W3",
  "Hiragino Kaku Gothic Pro",
  "ＭＳ ゴシック" ,
  "MS Gothic",
  "ＭＳ Ｐゴシック",
  "MS PGothic",
  "メイリオ",
  "Meiryo",
  "Osaka",
;
// prettier-ignore
$FONTS_SANS_KR:
  "Malgun Gothic",
  "맑은 고딕",
  ;
// prettier-ignore
$FONTS_MONO:
  "Consolas",
  ;

$FONT_SANS_EN: "Roboto";
$FONT_SANS_SC: "Noto Sans CJK SC";
$FONT_SANS_TC: "Noto Sans CJK TC";
$FONT_SANS_JP: "Noto Sans CJK JP";
$FONT_SANS_KR: "Noto Sans CJK KR";
$FONT_MONO: "Cascadia Code";

// English
@each $FONT in $FONTS_SANS_EN {
  @font-face {
    font-family: $FONT;
    src: local($FONT_SANS_EN);
  }
}
// Simplified Chinese
@each $FONT in $FONTS_SANS_SC {
  @font-face {
    font-family: $FONT;
    src: local($FONT_SANS_SC);
  }
}
// Traditional Chinese
@each $FONT in $FONTS_SANS_TC {
  @font-face {
    font-family: $FONT;
    src: local($FONT_SANS_TC);
  }
}
// Jpanese
@each $FONT in $FONTS_SANS_JP {
  @font-face {
    font-family: $FONT;
    src: local($FONT_SANS_JP);
  }
}
// Korean
@each $FONT in $FONTS_SANS_KR {
  @font-face {
    font-family: $FONT;
    src: local($FONT_SANS_KR);
  }
}
// Monospace
@each $FONT in $FONTS_MONO {
  @font-face {
    font-family: $FONT;
    src: local($FONT_MONO);
  }
}
